* {
    box-sizing: border-box
}

body {
  font-family: "Libre Franklin", "Helvetica", "sans-serif";
}

.orange-container {
  background-color: #F55E05;
  font-size: 0;

}

.column-top {
  width: 20%;
  font-size: 14px;
  display: inline-block;
  text-align: right;
  color: #fff;

}

.column-top img{
  display: inline-block;
  width: 100%;
  margin-left:0;
}

.column-top span {
  border: #fff 1px solid;
  padding: 5px;
}


.main-picture {
  background-image: url("../images/hero-splash-roommates-fun.jpg");
  background-size: cover;
  height: 300px;
  min-height: 500px;
  padding: 300px;

}

.column-container {
  font-size: 0px;

}


.main-picture h1, h2 {
  color: #fff;
  background-color: rgba(0,0,0,.5);
  text-align: center;
  font-size: 30px;
}

.main-picture input {
  padding: 10px 30px 10px 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search {
  position: relative;
}

button {
  background-color: #76dbc8;
  color: white;
  width: 100px;
  font-size: medium;
  position: absolute;
  right: 0;
  bottom: 0;

}


.column-city p {
  background-color: #424040;
  color: #fff;
  font-size: 20px;
  padding-top: 0px;
}

.column-city {
  font-size: medium;
  width: 25%;
  text-align: center;
  display: inline-block;
  padding: 20px 20px 0px 20px;
  margin-right: auto;
  margin-left: auto;
}

.column-city img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
}


.more-cities p {
  color: #d65b2a;
  border: #d65b2a solid 2px;
  font-size: medium;
  padding: 2px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.second-column-container {
  font-size: 0px;


}

.Mission-Dis {
  width: 25%;
  border: gray 2px solid;
  display: inline-block;
  position: relative;
}

.Mission-Dis img{
  width: 100%;
  display: block;

}

.Mission-Dis p {
  font-size: small;
  padding: 2;
  padding-left: 20px;
  display: block;
}

.Mission-Dis span {
  font-weight: bold;
}

.heart img {
  position: absolute;
  width: 20px;
  top: 0px;
  right: 0px;
  border-radius: 50%
}

.money {
  position: absolute;
  bottom: 70px;
  left: 0px;
  background-color: rgba(0,0,0,.5);
  width: 100px;
}

.money h2 {
  font-size: 12px;
}

.Only-Verified {
  width: 75%;
  display: inline-block;
  font-size: small;
  vertical-align: top;
  background-color: #e5e3e3;
  padding-bottom: 100px;
  padding-left: 200px;
  font-weight: 100;
}

.Only-Verified ul {
  list-style: circle;
}

.Only-Verified h1 {
  font-weight: 100;
  font-size: 25px;
}

.footer-container {
  background-color: #3f3e3e;
  font-size: 10px;
  border-bottom: white solid 2px;

}

.Company {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.Media {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.Directory {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.footer-container li {
  display: block;
  width: 100%;
  color: #fff;
  vertical-align: top;
}
.column-try {
  background-color: #3f3e3e;
}
.icon-container{
  width: 40%;
  background-color: #3f3e3e;
  margin-left: auto;
}

.position-this {
  position: relative;

}
.Got-Questions{
  width: 300px;
  font-size: 0;
  border: #29BBAF 3px solid;
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;


}

.Tiffany-words {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

.Tiffany-words span {
  color: #F55E05;
}

.Tiffany-photo {
  width: 40%;
  display: inline-block;
  padding: 10px;

}
.Got-Questions h1 {
  background-color: #B0E6E2;
  font-size: 20px;
}

.Got-Questions img{
  width: 80px;
  border-radius: 50%;
  display: block;
  border: black 1px solid;


}

.Got-Questions p {
  font-size: 12px;
  display: block;
  text-align: center;
  padding-top: 30px;
}

.arrow-time img {
  border: none;
  width: 30px;
  background-color: #29BBAF;
  border-radius: 100%;
  position: absolute;
  top: -30px;
  right: -10px;
}
